<!-- IF S_USER_ENABLE -->
	<tr>
		<td colspan="2" class="spacer"></td>
	</tr>

	<tr>
		<td class="row1" width="50%"><b class="genmed">{L_LOCK_AT_END}{L_COLON}</b></td>
		<td class="row2"><input type="radio" class="radio" name="lock_at_end" value="1"<!-- IF S_LOCK_AT_END --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_YES}</span>&nbsp; &nbsp;<input type="radio" class="radio" name="lock_at_end" value="0"<!-- IF not S_LOCK_AT_END --> checked="checked"<!-- ENDIF --> /><span class="gen">{L_NO}</span></td>
	</tr>
<!-- ENDIF -->	
