<!-- IF S_USER_ENABLE -->
	<hr />

	<dl>
		<dt><label for="user_lock_at_end">{L_LOCK_AT_END}{L_COLON}</label></dt>
		<dd>
			<label for="user_lock_at_end1"><input type="radio" name="lock_at_end" id="user_lock_at_end1" value="1"<!-- IF S_LOCK_AT_END --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label for="user_lock_at_end0"><input type="radio" name="lock_at_end" id="user_lock_at_end0" value="0"<!-- IF not S_LOCK_AT_END --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</dd>
	</dl>
<!-- ENDIF -->
